{
    "prefixes": [
        "!",
        "$"
    ],
    "id": "12345678901234567890",
    "secret": "kdnewoufweufndweojfoiwe",
    "token": "",
    "allowedChannels": [
        "123456789098765342",
        "876543456789876566"
    ],
    "welcomes": [
        "Welcome to the party,",
        "Good luck"
    ],
    "botLines": [
        "Hello?",
        "Hi?"
    ]
}